<!-- Job -->

<div class="modal fade" id="job">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="job-title">Job</h4>
            </div>
            <div class="modal-body" id="job-body">
                <form id="job_form">
                    <label>Name (Optional)</label>
                    <input type='hidden' class='form-control' name='_id' value="-1"/><br/>
                    <input type='text' class='form-control' name='name'/><br/>
                    <label>Command</label>
                    <textarea type='text' class='form-control' name='command'
                              onkeyup="job_command = $(this).val(); job_string();" style="resize: vertical;"></textarea>
                    <br/>
                    <label>Quick Schedule</label><br/>
                    <a class="btn btn-primary" onclick="schedule = '@reboot'; job_string();">Startup</a>
                    <a class="btn btn-primary" onclick="schedule = '@hourly'; job_string();">Hourly</a>
                    <a class="btn btn-primary" onclick="schedule = '@daily'; job_string();">Daily</a>
                    <a class="btn btn-primary" onclick="schedule = '@weekly'; job_string();">Weekly</a>
                    <a class="btn btn-primary" onclick="schedule = '@monthly'; job_string();">Monthly</a>
                    <a class="btn btn-primary" onclick="schedule = '@yearly'; job_string();">Yearly</a><br/><br/>

                    <div class="row">
                        <div class="col-md-2">Minute</div>
                        <div class="col-md-2">Hour</div>
                        <div class="col-md-2">Day</div>
                        <div class="col-md-2">Month</div>
                        <div class="col-md-2">Week</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><input type="text" class="form-control" id="job-minute" value="*"
                                                     onclick="this.select();"/></div>
                        <div class="col-md-2"><input type="text" class="form-control" id="job-hour" value="*"
                                                     onclick="this.select();"/></div>
                        <div class="col-md-2"><input type="text" class="form-control" id="job-day" value="*"
                                                     onclick="this.select();"/></div>
                        <div class="col-md-2"><input type="text" class="form-control" id="job-month" value="*"
                                                     onclick="this.select();"/></div>
                        <div class="col-md-2"><input type="text" class="form-control" id="job-week" value="*"
                                                     onclick="this.select();"/></div>
                        <div class="col-md-2"><a class="btn btn-primary" onclick="set_schedule();">Set</a></div>
                    </div>

                    <br/>
                    <div id="job-remote">
                        <div class="row">
                            <div class="col-md-4">
                                <label><input type="checkbox" id="job-docker" name='remote_docker_enabled'
                                              style="position:relative;top:2px" onclick="toggleRemote();"/>
                                    Dockerized</label><br/>
                            </div>
                            <div class="col-md-4">
                                <label><input type="checkbox" id="job-ssh" name='remote_ssh_enabled'
                                              style="position:relative;top:2px" onclick="toggleRemote();"/> Remotely
                                    with ssh</label><br/>
                            </div>
                        </div>
                        <div class="bg-warning text-dark">
                            <div id="job-docker-params" class="collapse">manually
                                <label>Docker configuration</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Image</label>
                                        <input type='text' class='form-control' name="remote[docker][image]"/>
                                    </div>
                                </div>
                            </div>
                            <div id="job-ssh-params" class="collapse">
                                <div class="row">
                                    <div class="col-md-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-4">
                                        <label>Ssh configuration</label>
                                        <br/>
                                        <label>Server</label>
                                        <input type='text' class='form-control' name='remote[ssh][server]'/>
                                        <label>Port</label>
                                        <input type='text' class='form-control' name='remote[ssh][port]'/>
                                        <label>Key</label>
                                        <span disabled="disabled" type='text' class='disabled form-control'
                                              id='job-remote-ssh-key' style="overflow: hidden;padding-bottom: 3em;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <label>Trigger other jobs</label><br/>
                    <select name='trigger' value="" multiple>
                        <% JSON.parse(crontabs).forEach(function(crontab){ %>
                        <option value="<%= crontab._id %>">
                            <% if (crontab.name) { %>
                            <%= crontab.name %>
                            <% } else { %>
                            <%= crontab._id %>
                            <% } %>
                        </option>
                        <% }); %>
                    </select>
                    <br/>
                    <label>Job</label>
                    <input type='text' class='form-control disabled' id='job-string' name='schedule'/><br/>
                    <label><input type="checkbox" name="logging" style="position:relative;top:2px"/> Enable error
                        logging.</label><br/>
                    <label><input type="checkbox" name="stopped" style="position:relative;top:2px"/> Stopped.</label><br/>
                    <a class="btn btn-primary btn-small" data-json="{}" onclick="setMailConfig(this);" id="job-mailing">Mailing</a>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary job-save" data-dismiss="modal">Save</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">Message</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close-button">Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-button">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="info-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="info-title">Message</h4>
            </div>
            <div class="modal-body" id="info-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="info-button">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
